
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/hola.cshtml";
}

<main>
    <form method="post">
        <div class="div_formulario">
            <table class="table">
                <tr>
                    <td> <label for="medio_de_contacto"> Medio de Contacto</label> </td>
                    <td>
                        <select class="combo" name="medio_de_contacto">
                            <option> Elija un medio de contacto </option>
                        </select>
                    </td>
                    <td> <label for="servicio"> Servicio</label> </td>
                    <td>
                        <select class="combo" name="servicio">
                            <option> Elija un servicio </option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td> <label for="nombre_del_Problema"> Nombre del Problema </label> </td>
                    <td> <input type="text" name="nombre_del_problema"> </td>
                    <td> <label for="evidencia">Evidencia</label> </td>
                    <td> <button class="btn" type="button" name="button">Agregar imagen </button> </td>
                </tr>

                <tr>
                    <td> <label for="descripcion_problema">Descripción del Problema</label> </td>
                    <td colspan="3"> <textarea name="descripcion_problema" rows="8" cols="100">Escriba Aqui </textarea> </td>
                </tr>

                <tr>
                    <td> <label for="sistema">Sistema</label> </td>
                    <td>
                        <select class="combo" name="sistema">
                            <option> Elija un sistema </option>
                        </select>
                    </td>
                    <td> <label for="modulo"> Modulo</label> </td>
                    <td>
                        <select class="combo" name="modulo">
                            <option value="0">Elija un modulo</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td> <label for="pantalla"> Pantalla </label> </td>
                    <td>
                        <select class="combo" name="pantalla">
                            <option value="0">Elija una pantalla </option>
                        </select>
                    </td>
                    <td> <label for="versión"> Versión</label> </td>
                    <td> <input type="number" name="versión" value=""> </td>
                </tr>
                <tr>
                    <td> <label for="cliente"> Cliente</label> </td>
                    <td>
                        <select class="combo" name="cliente">
                            <option value="0">Elija un cliente</option>
                        </select>
                    </td>
                    <td> <label for="usuario_cliente">Usuario del Cliente</label> </td>
                    <td>
                        <select class="combo" name="usuario_cliente">
                            <option value="0">Elija un usuario del cliente</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="4"><button class="button" type="button" name="registrar">Registrar</button></td>
                </tr>
            </table>
        </div>
    </form>
</main>

