
@{
    ViewBag.Title = "CrearCliente";
    Layout = "~/Views/_Layoutdiseño.cshtml";
}

@RenderPage("~/Views/header.cshtml")
@RenderPage("~/Views/Aside.cshtml")

<main>
    <form action="CrearCliente" method="post">
        <div style="height:575px;" class="div_formulario">

            <table class="table">
                <tr>
                    <td> <label for="nombre_del_cliente"> Nombre del Cliente</label></td>
                    <td> <input type="text" placeholder="escribe nombre del cliente " name="nombre_del_cliente"></td>
                    <td> <label for="calle"> Calle</label></td>
                    <td> <input type="text" placeholder=" nombre de la calle" name="calle"></td>
                </tr>
                <tr>
                    <td> <label for="correo_electronico">Correo Electronico </label></td>
                    <td> <input type="email" placeholder=" ejemplo12@estratei.com" name="correo_electronico"></td>
                    <td> <label for="numero">Numero</label></td>
                    <td> <input type="number" placeholder="escribe el numero interior" name="numero"></td>
                </tr>
                <tr>
                    <td> <label for="telefono">Telefono</label></td>
                    <td> <input type="number" placeholder="escribe el teléfono " name="telefono"></td>
                    <td> <label for="colonia"> Colonia</label></td>
                    <td> <input type="text" placeholder="nombre de la colonia" name="colonia"></td>
                </tr>
                <tr>
                    <td> <label for="entidad_federativa">Entidad Federativa</label></td>
                    <td>
                        <select class="combo" placeholder="escribe el nombre de (entidad/ciudad)" name="entidad_federativa">
                            <option> Elija una Entidad Federativa</option>
                            
                        </select>
                    </td>
                </tr>
                <tr>
                    <td colspan="4"> <button class="button" type="button" name="button"> Registrar</button></td>
                </tr>
            </table>
        </div>
    </form>
</main>
