
@{
    ViewBag.Title = "VerClientes";
    Layout = "~/Views/_Layoutdiseño.cshtml";
}
@RenderPage("~/Views/header.cshtml")
@RenderPage("~/Views/Aside.cshtml")
<main>
    <div class="div_formulario">
        <table class="table_busqueda">
            <tr>
                <th>Nombre de Cliente</th>
                <th>Calle</th>
                <th>Número</th>
                <th>Colonia</th>
                <th>Teléfono</th>
                <th>Correo Electrónico</th>
                <th>Entidad Federativa</th>
                <th>Acción</th>
            </tr>
            <tr>
                <td>Cremeria Perez</td>
                <td>Martinez Navarrete</td>
                <td>20</td>
                <td>Duero</td>
                <td>5178633</td>
                <td>cperez@gmail.com</td>
                <td>Zamora</td>
                <td style="width: 350px">
                    <button class="btn_Acción" type="submit" name="button"> <img src="../Imagenes/add_user.png" alt=""></button>
                    <button class="btn_Acción" type="submit" name="button"> <img src="../Imagenes/update_user.png" alt=""></button>
                    <button class="btn_Acción" type="submit" name="button"> <img src="../Imagenes/contacts.png" alt=""> </button>
                </td>
            </tr>
        </table>
    </div>
</main>
