<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/styles/diseño_asidevertical.css" rel="stylesheet" />
    <link href="~/styles/diseño_barranavegación.css" rel="stylesheet" />
    <link href="~/styles/diseño_buttons.css" rel="stylesheet" />
    <link href="~/styles/diseño_formularios.css" rel="stylesheet" />
    <link href="~/styles/diseño_login.css" rel="stylesheet" />
    <script src="~/scripts/jquery.min.js"></script>
</head>

<body class="body">
    <div>
        @RenderBody()
    </div>
    <script src="~/scripts/main.js"></script>
</body>
</html>
