<nav class="nav_horizontal">
    <div class="div_horizontal">
        <ul class="nav_horizontal">
            <li><img class="imagen" src="../Imagenes/escudo1.png" alt=""> </li>
            <li><a href="#">ESTRATEI Sistemas de informacion</a></li>
            <li style="float:right"><a name="usuario"></a></li>
        </ul>
    </div>
</nav>
