.div {
 margin: 95px 450px;
 border-radius: 5px;
 background-color: #f2f2f2;
 padding: 100px;
}

 .label{
   color: black;
   text-align: left;
   font-size: 23px;
 }

  .input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
